:root {
  --yellow: linear-gradient(180deg, #F8D49A -146.42%, #FAD79D -46);
  --orange: #fca61f;
  --black: #242d49;
  --gray: #788097;
  --purple: linear-gradient(1806deg, #BB67FF 0%, #C484F3 100%);
  --pink: #FF919D;
  --glass: rgba(255, 255, 255, 0.54);
  --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
  --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
  --activeItem: #f799a354;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background: linear-gradient(106.37deg,
      #ffe1bc 29.63%,
      #ffcfd1 51.55%,
      #f3c6f1 90.85%);
  font-family: 'Inter', sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.appGlass {
  display: grid;
  height: 97%;
  width: 97%;
  border-radius: 2rem;
  background: var(--glass);
  overflow: hidden;
  grid-template-columns: 11rem auto 20rem;
}